html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  background: pink;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}

.panel {
  position: fixed;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 10px;
  background: rgb(26, 26, 26);
  color: rgb(241, 241, 241);
  top: 0;
  left: 0;
}

.placeBtn {
  position: fixed;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 11px;
  color: pink;
  background-color: black;
  top: 59px;
  left: 17px;
}

.placeBtn:hover {
  background-color: rgb(68, 60, 60);
}

.arrow {
  position: fixed;
  padding: 3px 20px;
  font-size: 25px;
  color: aliceblue;
  background: black;
  bottom: 5px;
  right: 5px;
}
